style
            /*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align: middle;
}



body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}



.inner  {
    display: flex;
    align-self: center;
}


.sakana {
    padding-left: 130px;
}


.choco {
    padding-left: 480px;
    vertical-align: middle;
    font-size: 32px;
    padding-right: 30px;
    padding-bottom: 25px;
    color: #6C757D;
}

.budo {
    font-weight: 100;
    padding-top: 20px;
    font-size: 13px;
}

.nashi {
    font-size: 32px;
    font-weight: 700;
    padding-top: 10px;
}

.ringo {
    background: #60696F;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    color: #cccccc;
    text-decoration: none;
    border-radius: 5px;
}


.yasai {
    text-align: center;
}

.niku {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: left;
    font-size: 16px;
    background: #343A40; 
    color: #cccccc;
    height: 55px;
    line-height: 55px;
    width: 1110px;
    padding-left: 170px;
    padding-right: 150px;
}

a {
    display: grid;
    color: inherit;
    text-decoration: none;
}

.ichigo {
    height: 600px;
    background-image: url("../image/top-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1430px;
    text-align: right;
}   

.mikan {
    display: inline-block;
    width: 560px;
    height: 300px;
    padding: 30px 15px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    background: #fff;
    box-sizing: border-box;
    margin-top: 60px;
    margin-right: 150px;
}

.mikan h2 {
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 300;
    text-align: left;
}


.kagi {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
}

.saifu {
    font-size: 13px;
    text-align: left;
}